html {
  font-family: Arial;
  font-size: 16px;
  background: #f2f2f2;
}

h1 {
  font-size: 36px;
  margin-bottom: 50px;
}

.sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  background: #ffcc00;
  font-size: 1.3em;
  color: #000;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  font-weight: bold;
  color: #000;
}

.nav ul {
  list-style: none;
}
.nav ul li {
  position: relative;
  margin: 2.8em 0;
}
.nav ul li a {
  line-height: 5em;
  letter-spacing: 0.4em;
  color: rgba(0, 0, 0, 0.7);
  display: block;
  transition: all ease-out 300ms;
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.9);
}

.main {
  position: relative;
  width: 75%;
  float: right;
  margin-bottom: 50px;
  color: #1a1a1a;
  text-align: center;
}
.main .container {
  text-align: left;
  height: 100%;
  width: 75%;
  margin: auto;
  font-size: 1.1em;
  color: #000;
}

.dubbel-slot {
  width: 49%;
  display: inline-block;
  text-align: left;
}

.dubbel-slot:first-of-type {
  padding-right: 20px;
}

.dubbel-slot img {
  max-width: 100%;
}